<h1>
  R-Tec VPN Cyber
</h1>

<div *ngIf="status.error == 0">
  <div class="preference">
    <label for="ipAndPort">Host:</label>
    <input id="ipAndPort" [(ngModel)]="req.ipAndPort" />
  </div>
  <div class="preference">
    <label for="user">User:</label>
    <input id="user" [(ngModel)]="req.user" />
  </div>
  <div class="preference">
    <label for="password">Password:</label>
    <input id="password" [(ngModel)]="req.password" />
  </div>
  <div class="preference">
    <label for="otp">OTP:</label>
    <input id="otp" [(ngModel)]="req.otp" />
  </div>

  <button (click)="onStart()">Start</button>
</div>

<div *ngIf="status.error != 0">
  <div>
    <button (click)="onStop()">Stop</button>
  </div>

  <div>
    {{status.message}}
  </div>

  <div>
    <textarea #textarea rows="30" cols="80" [scrollTop]="textarea.scrollHeight">{{status.output}}</textarea>
  </div>
</div>