<h1>
  R-Tec VPN Cyber
</h1>

<div *ngIf="status.error == 0">
  <form (ngSubmit)="onStart()" #userForm="ngForm">
    <div class="preference">
      <label for="ipAndPort">Host:</label>
      <!-- <input id="ipAndPort" [(ngModel)]="req.ipAndPort" /> -->
      <select id="ipAndPort" required [(ngModel)]="req.ipAndPort" name="ipAndPort">
        <option value="91.103.8.129:443" selected>VPN EU</option>
        <option value="91.103.8.129:443">VPN US</option>
        <option value="91.103.8.129:443">VPN CN</option>
      </select>
    </div>
    <div class="preference">
      <label for="user">User:</label>
      <input id="user" [(ngModel)]="req.user" name="user" />
    </div>
    <div class="preference">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="req.password" name="password" />
    </div>
    <div class="preference">
      <label for="otp">OTP:</label>
      <input id="otp" [(ngModel)]="req.otp" name="otp" />
    </div>

    <button type="submit" (click)="onStart()">Start</button>
  </form>
</div>

<div *ngIf="status.error != 0">
  <div>
    <button (click)="onStop()">Stop</button>
  </div>

  <div>
    {{status.message}}
  </div>

  <div>
    <textarea #textarea rows="30" cols="80" [scrollTop]="textarea.scrollHeight">{{status.output}}</textarea>
  </div>
</div>